<div class="last-wins">
  <h1>Últimas conquistas</h1>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 10 segundos atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p><i class="fa fa-star"></i></p>
    </div>
    <div class="description">
      <p>Você subiu de nível</p>
    </div>
  </div>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 1 minuto atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p>5</p>
    </div>
    <div class="description">
      <p>pontos por curtir uma publicação</p>
    </div>
  </div>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 3 horas e 15 minutos atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p><i class="fa fa-trophy"></i></p>
    </div>
    <div class="description">
      <p>Você recebeu uma recompensa</p>
    </div>
  </div>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 5 horas atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p>10</p>
    </div>
    <div class="description">
      <p>pontos por criar uma nova ação</p>
    </div>
  </div>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 5 horas atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p>5</p>
    </div>
    <div class="description">
      <p>pontos por compartilhar uma ação.</p>
    </div>
  </div>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 1 dia atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p><i class="fa fa-trophy"></i></p>
    </div>
    <div class="description">
      <p>Você recebeu uma recompensa</p>
    </div>
  </div>

  <div class="row">
    <div class="time">
      <p><i class="fa fa-clock-o"></i> 3 dias atrás</p>
    </div>
  </div>

  <div class="row">
    <div class="circle">
      <p>1</p>
    </div>
    <div class="description">
      <p>ponto de Boas Vindas</p>
    </div>
  </div>

</div>
