<div class="achievements">
  <table class="table">
    <tr>
      <td>
        Ranking
      </td>
      <td>
        Últimas conquistas
      </td>
    <tr>

    <tr>
      <td>
        <div class="ranking">
          <ul>
            <li>User 1 </li>
            <li>Alessandro Stein</li>
            <li>User 3</li>
          </ul>
        </div>
      </td>
      <td>
        <div class="badges">
          <ul>
            <li><%= badge(1, :warning) %> <span class="badge badge-warning">12</span><li>
            <li><%= badge(2, :warning) %> <span class="badge badge-warning">12</span><li>
            <li><%= badge(4, :warning) %> <span class="badge badge-warning">12</span><li>
            <li><%= badge(7, :warning) %> <span class="badge badge-warning">12</span><li>
          <ul>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="opportunities">
  <h2>Oportunidades</h2>
  <p>Nenhuma oportunidade encontrada</p>
</div>