<div class="dash">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'actions_pending' %>
      <%= render 'actions_waiting' %>
      <%= render 'actions_requiring_approval' %>
    </div>
    <div class="col-sm-4">
      <%= render 'last_wins' %>
    </div>
  </div>
</div>
