<div class="footer">
  <div class="row">
    <div class="links">
      <ul>
        <li><a href=#main>Inicio</a><li>
        <li><a href=#about>Sobre o projeto</a><li>
        <li><a href=#how-work>Funcionamento</a></li>
        <li>Cadastrar<li>
        <li>Acessar</li>
      </ul>
    </div>
    <div class="social">
      <ul>
        <li><i class="fa fa-facebook-square"></i></li>
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-github-square"></i></li>
      </ul>
    </div>
  </div>
</div>
