<div class="footer">
  <div class="row">
    <div class="social">
      <ul>
        <li>
          <a target="_blank" href="https://www.facebook.com/ale182juve">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.twitter.com/alessandrostein">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/alessandrostein/playbuschgardenstampabay">
            <i class="fa fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
