<div class="midia">
  <div class="row">
    <div class="logos">
      <h1>Estão falando por aí</h1>
      <ul>
        <li>
          <a target="_blank" href="http://poracaso.com/jaraguaense-cria-plataforma-para-incentivar-a-participacao-em-acoes-sociais/">
            <%= image_tag "poracaso-logo.png", class: "midia-img" %>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.catolicasc.org.br/jaragua-do-sul/2015/12/17/academico-de-sistemas-de-informacao-cria-projeto-para-aliar-tecnologia-e-solidariedade/">
            <%= image_tag "catolicasc-logo.png", class: "midia-img" %>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.folhasc.com/index.php?pg=10&codigo=">
            <%= image_tag "folhasc-logo.png", class: "midia-img" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
