<div class="container">
  <div class="site-title">
    <h1>Todos juntos por um mundo melhor!</h1>
    <h3>Encontre pessoas e organizações que precisam de ajuda mais próximo de você</h3>
  </div>

  <div class="site-actions">
    <% unless user_signed_in? %>
      <a href="#sign-up-modal" class="btn-get-started" id="sign-up">Começar agora!</a>
    <% else %>
      <%= link_to "Oba! Acessar minha conta!", dashboard_path, class: "btn-get-started" %>
    <% end %>
  </div>
</div>
