<section id="main">
  <div class="container">
    <div class="site-title">
      <h1>Todos juntos por um mundo melhor!</h1>
      <h3>Encontre pessoas e organizações que precisam de ajuda mais próximo de você</h3>
    </div>

    <div class="site-actions">
      <% unless user_signed_in? %>
        <a href="#" class="btn-get-started" data-toggle="modal" data-target="#sign-up">Começar agora!</a>
      <% else %>
        <%= link_to "Oba! Acessar minha conta!", dashboard_path, class: "btn-get-started" %>
      <% end %>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="site-title">
      <h1>Você pode fazer a diferença</h1>
      <h3>Conectar ações sociais e pessoas que querem ser os agentes de mudanças no mundo. Este é o principal objetivo deste projeto, criando experiências incríveis e conectando pessoas que acreditam em um mundo melhor.</h3>
    </div>
  </div>
</section>

<section id="how-work">
  <h1>Como Funciona</h1>
  <p>On the other hand, we denounce with righteous indignation and dislike men
    who are so beguiled and demoralized by the charms of pleasure of the moment,
    so blinded by desire, that they cannot foresee the pain and trouble that are
    bound to ensue; and equal blame belongs to those who fail in their duty through
    weakness of will, which is the same as saying through shrinking from toil and pain.
    These cases are perfectly simple and easy to distinguish. In a free hour,
    when our power of choice is untrammelled and when nothing prevents our being
    able to do what we like best, every pleasure is to be welcomed and every
    pain avoided. But in certain circumstances and owing to the claims of duty or
    the obligations of business it will frequently occur that pleasures have to be
    repudiated and annoyances accepted. The wise man therefore always holds in
    these matters to this principle of selection: he rejects pleasures to secure
    other greater pleasures, or else he endures pains to avoid worse pains</p>

</section>
