<div class="container">
  <div class="site-title">
    <h1>Todos juntos por um mundo melhor!</h1>
    <h3>Encontre pessoas e organizações que precisam de ajuda mais próximo de você</h3>
  </div>

  <div class="site-actions">
    <a href="#" class="btn-get-started" data-toggle="modal" data-target="#sign-up">Começar agora!</a>
  </div>
</div>
