/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fontawesome
 *= require bootstrap
 *= require dashboard
 *= require tasks
 *= require posts
 *= require progressbar
 *= require sweetalert
 *= require_tree .
 *= require_self
 */

 body {
   /*background-color: #F5F5F5;*/
   /*background-color: #F2F0EA;*/
   /*background-color: #55B771;*/
   background-color: #7FCB94;
 }

 ul li {
  list-style: none;
 }

.content {
  height: 100%;
  /*background-color: #FFF;*/
  background-color: #FAF8F2;
  margin: 0 50px 0px 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*padding: 25px 25px 25px 25px;*/
 }

.header-user {
  margin: 15px 15px 15px 15px;
  width: 100%;
  height: 100px;
}

.avatar {
  margin-right: 25px;
  margin-top: 5px;
  float: left;
  text-align: center;
}

.badges-user, .level-user, .points-user {
  height: 43px;
  width: 43px;
  border-radius: 43px;
  background-color: #161616;
  overflow: hidden;
}

.badges-user p, .level-user p, .points-user p {
  text-align: center;
  margin-top: 10px;
  color: #55B771;
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
}

header {
  /*background-color: #F5F5F5;*/
  /*background-color: #F2F0EA;*/
  /*background-color: #55B771;*/
  background-color: #7FCB94;
  width: 100%;
  height: 60px;
}

header .row {
  width: 100%;
  padding: 0 50px 0 50px !important;
}

header .row ul {
  list-style: none;
}

header .row ul li {
  display: inline-block;
  vertical-align: middle;
}

footer {
  margin: 0 50px 50px 50px;
  background: #2E2E2E none repeat scroll 0% 0%;
  height: 70px;
  color: #979797;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer .row{
  width: 100%;
}

footer .row ul {
	list-style: none;
  text-align: center;
}

footer .row ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 15px;
}

.badges {
  float: left;
  width: 25%;
}

.points {
  float: left;
  width: 25%;
}

.level {
  float: left;
  width: 25%;
}

.progress-level {
  float: left;
  width: 25%;
  margin-top: 25px;
}

.menu {
  margin-right: 10px;
}

.menu a {
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  padding: 5px 15px;
}

.menu a:active, .menu a:hover, .menu .active {
  background: #FAF8F2;
  color: #979797;
  padding-bottom: 25px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menu-left {
  float: left;
  width: 78%;
}

.menu-right {
  float: left;
  width: 22%;
}

.menu-right ul li {
  font-family: "Abel";
  font-size: 14px;
  color: #1D1D1D;
  margin-top: 10px;
  margin-left: 10px;
}

/*.last-wins, .task-more-information {
  padding: 15px;*/
  /*background-color: #FBFBFB;*/
  /*background-color: #F2F0EA;
  border-top-right-radius: 7px;
  margin-top: -30px;
  margin-right: -30px;
}*/

/*.last-wins h1, .last-wins, .task-more-information {
  font-family: "Abel";
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #979797;;
}*/

.last-wins .time {
  margin-top: 5px;
  color: rgb(100, 183, 254);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  padding-left: 5px;
}

.last-wins .description {
  float: left;
  color: #868480;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 3px;
  padding-left: 5px;
}

.last-wins .circle {
  float: left;
  height: 45px;
  width: 45px;
  border-radius: 43px;
  background-color: #F2F0EA;
  border: 2px solid #FFF;
  overflow: hidden;
}

.last-wins .circle p {
  text-align: center;
  margin-top: 3px;
  color: #55B771;
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.last-wins .wins-rows {
  padding: 15px;
}

.task-main {
  background-color: #FBFBFB;
  float: left;
  width: 49%;
  height: 150px;
  border: 2px solid #F2F0EA;
  border-radius: 7px;
  margin-top: 5px;
  margin-right: 5px;
}

.task {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  width: 25%;
  height: 340px;
  border: 2px solid #F2F0EA;
  border-radius: 7px;
}

.circle-o {
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-radius: 63px;
  background-color: #F2F0EA;
  border: 2px solid #FFF;
  overflow: hidden;
}

.circle-o p {
  text-align: center;
  margin-top: 3px;
  color: #55B771;
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.chose-city, .list-task {
  padding: 25px 25px 5px 25px;
}

.actions-task  {
  padding: 15px 25px 15px 25px;
}

.tasks-grid {
  border-radius: 2px;
  background: #EBE9E4 none repeat scroll 0% 0%;
  color: #666;
  font-size: 16px;
}

.tasks-grid .content-task td {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FBFBFB;
  font-size: 14px;
}

.chose-city-select {
  width: auto !important;
  float: left;
  background: #EBE9E4 none repeat scroll 0% 0%;
  color: #666;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  box-shadow: none;
  border: medium none;
  padding: 0px 34px 0px 13px;
  font-size: 16px;
  text-shadow: none !important;
  margin: 0px;
}

.dash {
  padding: 30px;
}

.box {
  width: 100%;
  background-color: #FFF;
  margin-top: 15px;
  padding: 5px 15px;
}

.box .title h1 {
  color: #979797;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.box-table {
  padding: 5px 15px 5px 15px;
}

.table-header p {
  color: #979797;
  font-weight: 300;
}

.box-table p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.avatar-box-waiting {
  width: 25px;
  height: 25px;
}

.task-actions {
  text-align: center;
  padding: 0 20px 20px 20px;
}

.task-statistics, .last-wins .wins {
  text-align: left;
  padding: 0 20px 20px 20px;
}

.task-statistics ul, .last-wins .wins ul {
  padding-left: 0px;
}

.task-statistics-details li, .win-details li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 15px;
}

.task-statistics-details .statistic-info, .last-wins .wins .win-details .win-info {
  color: #868480;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
}

.info-points {
  padding: 10px 15px;
  font-family: "Open Sans",sans-serif;
  font-size: 25px;
  color: #64B7FE;
  margin-bottom: 15px;
}

.user-position {
  background: rgba(0, 128, 0, 0.41) none repeat scroll 0% 0%;
  height: 30px;
  color: #FFF;
  padding-top: 3px;
}

/* Style for status */

.lg-status {
  font-family: "Open Sans",sans-serif;
  padding: 5px 10px;
  border-radius: 7px;
}

.status-active {
  background-color: rgba(0, 128, 0, 0.41);
  color: #FFF;
}

.status-pending {
  background-color: rgba(255, 255, 0, 0.41);
  color: #868480;
}

.status-waiting {
  background-color: rgba(0, 0, 255, 0.41);
  color: #FFF;
}

/* Style for Avatar img */

.avatar-sm {
  width: 25px;
  height: 25px;
}

.avatar-lg {
  width: 50px;
  height: 50px;
}

/* Style for actions */

.btn-sm {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  color: #FFF;
}

.btn-md {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 14px;
  color: #FFF;
}

.btn-lg {

}

.btn-sm:hover, .btn-md:hover, .btn-lg:hover  {
  text-decoration: none;
  color: #FFF;
}

.btn-info {
  background: rgba(128, 128, 128, 0.41);
}

.btn-info:hover {
  background: rgba(128, 128, 128, 0.51);
}

.btn-new {

}

.btn-new:hover {

}

.btn-create {
  background: rgba(0, 128, 0, 0.41);
}

.btn-create:hover {
  background: rgba(0, 128, 0, 0.51);
}

.btn-edit, .btn-share {
  background: rgba(0, 0, 255, 0.41);
}

.btn-edit:hover, .btn-share:hover {
  background: rgba(0, 0, 255, 0.51);
}

.btn-remove {
  background: rgba(255, 0, 0, 0.41);
}

.btn-remove:hover {
  background: rgba(255, 0, 0, 0.51);
}

.btn-comments:hover, .btn-comments:selection {
  text-decoration: none;
}

.btn-add-new {
  background: #EBE9E4 none repeat scroll 0% 0%;
  color: #666;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Style for time */

.time {
  color: rgb(100, 183, 254);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
}

.time-left {
  text-align: left;
}

.time-right {
  text-align: right;
}

/* Style for timeline */

.box-task {
  padding: 15px;
  border: 2px solid #FAF8F2;
}

.box-task i {
  color: green;
}

.box-task .box-info p {
  color: #979797;
}

.box-actions .ico-likes, .box-actions .ico-remove {
  color: red;
  font-size: 18px;
}

.box-actions .ico-comments {
  color: green;
  font-size: 18px;
  margin-left: 25px;
}

.box-actions .ico-shares {
  color: blue;
  font-size: 18px;
  margin-left: 25px;
}

.n-likes {
  margin-top: -7px;
  margin-left: 2px;
  position: absolute;
  font-weight: bold;
  color: red;
}

.n-comments {
  margin-top: -7px;
  margin-left: 2px;
  position: absolute;
  font-weight: bold;
  color: green;
}

.n-shares {
  margin-top: -7px;
  margin-left: 2px;
  position: absolute;
  font-weight: bold;
  color: blue;
}

.in-comment {
  width: 100%;
  padding: 5px 15px;
}

.comments-container {
  margin-top: 10px;
}

.show-comments {
  margin: 10px 10px;
}

.box-comments {
  padding: 0px 55px;
}

.comments-header p, .comments-body {
  font-size: 12px;
}
