.modal-dialog {
  max-width: 470px !important;
}

.modal-header {
  border-bottom: 0px !important;
}

#new_user {
  text-align: center;
}

#new_user h1 {
  font-family: "Abel";
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  line-height: 1.3;
  margin-top: 0px !important;
  margin-bottom: 15px !important;
  color: #878484;
}

#new_user input {
  font-family: "Abel";
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 15px;
.}

#new_user .field input {
  width: 100%;
}

#new_user .actions {
}

#new_user .actions input {
  color: #FFF;
  background-color: #FF8330;
  border: medium none;
  z-index: 1;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px 30px;
  font-weight: bold;
}

#new_user .has-account {
  font-family: "Abel";
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
}
