/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require modal
 *= require_tree .
 *= require_self
 */

body.layout-home {
  background-image: image-url("background.jpg");
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #1A1A1A;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
}

.footer ul {
  margin-top: 5px;
  text-align: center;
}

.footer ul li{
  margin-right: 15px;
  color: #848484;
  display: inline;
  font-size: 12px;
  font-family: "Abel";
  font-weight: normal;
}

.footer .social ul li {
  display: inline;
}

.footer .social ul li i {
  color: #FFF;
  font-size: 20px;
}

.footer .social {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.site-menu ul {
  margin-top: 15px;
  float: right;
}

.site-menu ul li {
  margin-right: 20px;
  display: inline-block;
}

.site-menu ul li a {
  color: #FFF;
  background-color: #FF8330;
  border: medium none;
  z-index: 1;
  border-radius: 5px;
  opacity: 0.8;
  padding: 3px 10px;
  font-weight: bold;
}

.site-menu ul li a {
  text-decoration: none;
}

.site-title {
  margin-top: 100px;
}

.site-actions {
  margin-top: 50px;
}

.container {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.site-title h1 {
  font-weight: 400;
  line-height: 1;
  margin: 0px 0px 1.6rem;
  font-family: "Abel" !important;
  font-size: 60px;
  color: #FFFFFF;
}

.site-title h3 {
  font-weight: lighter;
  line-height: 1.5;
  margin: 0px 0px 1.6rem;
  font-family: "Abel" !important;
  font-size: 20px;
  color: #FFFFFF;
}

.btn-get-started {
  font-family: "Abel" !important;
  padding: 15px 65px;
  font-size: 24px;
  border: 4px solid #FDFCFB;
  background-color: rgba(253, 252, 251, 0.1);
  opacity: 1;
  color: #FFF;
}

.btn-get-started:hover {
  text-decoration: none;
  background-color: rgba(253, 252, 251, 0.5);
  color: #FFF;
}

.btn-get-started:active, .btn-get-started:visited, .btn-get-started:focus {
  color: #FFF;
  text-decoration: none;
}
